<html>
<head>
<title> Shopsquare.com </title>
<head>

<body>

<center>

<h1> <font color="darkblue"> Be in touch </font> </h1>  

<p>
<h2> 
<font color="blue">
Registered Office Address </h2>
</font>

3rd Floor, A Block, 
AKR Tech Park, 8th Mile, 
Krishna Reddy Industrial Area, 
Kudlu Gate, 
Bangalore – 550068 
</font>
</p>

<p> 
<h2>

<font color="blue">
Telephone: </h2>
</font>

123-456-7890

</p>

<p> 
<h2>

<font color="blue">
Email:</h2>
</font>

support@shopsquare.com

</p>

<a href="http://localhost:3000/welcome1/index" class="btn btn-success">Back to Home</a>

</center>

<body>
</html>