<style>

</style>
<center>

<h2> My Cart (0) </h2>

<%= image_tag("empty-cart_ee6141.png", size:"350x250", alt:"Edit Entry") %>

<p>
<h4> Your Shopping Cart is empty </h4>
</p>

<a href="http://localhost:3000/welcome1/index" class="btn btn-primary">Continue Shopping</a>
<a href="http://localhost:3000/payment/index" class="btn btn-default">Place Order</a>

</center>