<html>
<head>
<title> Shopsquare.com </title>
<head>

<body>

<center>

<p>
<h2> <font color="darkblue"> Find our strores in: </font> <h2>

<font color="green">
<p>
Store Name
500 Terry Francois St.
San Francisco,
CA 94158
</p>

<p>
Store Name
501 Terry Francois St.
San Francisco,
CA 94158
</p>

<p>
Store Name
502 Terry Francois St.
San Francisco,
CA 94158
</p>

<p>
Store Name
503 Terry Francois St.
San Francisco,
CA 94158
</p>

<p>
Store Name
504 Terry Francois St.
San Francisco,
CA 94158
</p>
  
<p>

<a href="http://localhost:3000/welcome1/index" class="btn btn-success">Back to Home</a>

</center>
</font>
<body>
</html>